.sort_by {
  label {
    color: red;
    font-size: 1.5rem;
    font-weight: 600;

    padding-right: 1rem;
  }
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  select {
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 0.3rem solid red;
  }
}

.movie-list {
  margin: 3rem 0;
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul.pagination li {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  ul.pagination li:first-child {
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child {
    border-radius: 0 5px 5px 0;
  }

  ul.pagination li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }

  ul.pagination li.active a {
    color: white;
    font-weight: 600;
  }

  ul.pagination li.active {
    border-radius: 50%;
    background-color: rgb(255, 25, 0);
  }

  ul.pagination li a:hover,
  ul.pagination li a.active {
    background-color: rgb(255, 25, 0);
    border-radius: 50%;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
  }
}
