.loading {
  padding: 2rem;
  display: flex;
  justify-content: center;
  div {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 3px solid white;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
