.header {
  justify-content: center;
  color: white;
  display: flex;
  font-weight: bold;
  align-items: center;
  // li {
  //   transition: all 2ms ease-in-out;
  // }
  li:hover {
    background-color: rgba(255, 210, 210, 0.514);
    border-radius: 1rem;
  }
}
