.movies {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 10rem;
}
.movie {
  &:hover {
    transform: translateY(-5%);
    cursor: pointer;
    opacity: 80%;
  }
  list-style: none;
}

.movie_item {
  &::before {
    content: "";
    z-index: -1;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0);
  }

  // animation: fade-in 2ms ease-in-out;
  // animation-delay: 4s;

  transition: all 2ms ease-in-out;
  // background-color: rgba(94, 94, 94, 0.719);
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-radius: 1rem;
  .texts {
    padding-left: 2rem;
  }
  img {
    padding-left: 1rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
}
