@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");

body {
  background-color: black;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}
